<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pollution Levels</title>
</head>
<body>
    
    
    <div style='%style;max-width:180px;text-align:center;'><small>{{city_AQI.city}} AQI:</small> 
        <div style='font-size:88px;height:60px;padding-top:30px;'>{{city_AQI.aqi}}</div>
        <div>{{city_AQI.impact}}</div>
    </div>

 
</body>
</html>